<%- include('header') %>

<main class="container mt-4">
    <h2>Aktualne Przetargi</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Data Rozpoczęcia</th>
            <th>Data Zakończenia</th>
            <th>Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        <% tenders.forEach((tender, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td>
                    <a href="/tenders/<%= tender.id %>" style="display:block; width:100%; text-decoration:none; color: inherit;">
                        <%= tender.title %>
                    </a>
                </td>
                <td><%= new Date(tender.start_date).toLocaleString('pl-PL', {
                        year: 'numeric', month: '2-digit', day: '2-digit',
                        hour: '2-digit', minute: '2-digit'
                    }) %></td>
                <td><%= new Date(tender.end_date).toLocaleString('pl-PL', {
                        year: 'numeric', month: '2-digit', day: '2-digit',
                        hour: '2-digit', minute: '2-digit'
                    }) %></td>
                <td>
                    <a class="btn btn-primary" href="/tenders/<%= tender.id %>">Zobacz szczegóły</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</main>

<%- include('footer') %>
